<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- meta=> to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>

    <!-- CDN Link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Main Style-->
    <link rel="stylesheet" href="style.css">

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto clearfix">
                    <a id="logo" href="#"><img src="/LogoMakr.png" height="60px" width="75px" alt="logo"></a>
                </div>
                <div class="col-md-8">
                    <ul id="menu" class="float-md-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="banner" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-title">
                        <h1 class="title">Some heading goes here</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus laborum
                            excepturi vel? Consequatur nostrum quod laudantium cumque soluta harum omnis?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Some Heading Goes here</h2>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-anchor"></i>
                    <h3>Some heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, placeat.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-bar-chart"></i>
                    <h3>Some heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, placeat.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-diamond"></i>
                    <h3>Some heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, placeat.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head text-white">Testimonials</h2>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, earum.</p>
                        <img src="/bill.jpg" alt="">
                        <div class="author">Bill Gates</div>
                        <div class="author-company">Microsoft</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, earum.</p>
                        <img src="/steve.jpg" alt="">
                        <div class="author">Steve Jobs</div>
                        <div class="author-company">Apple</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="news" class="container section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Recent News</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="news-post text-white">
                    <img src="/3.jpg" alt="">
                    <h3><a href="">News Heading here</a></h3>
                    <div class="post-date">April 30,2021</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nobis!</p><a href=""
                        class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-post">
                    <img src="/2.jpg" alt="">
                    <h3><a href="">News Heading here</a></h3>
                    <div class="post-date">April 30,2021</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nobis!</p><a href=""
                        class="readmore">Read
                        More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-post">
                    <img src="/5.jpg" alt="">
                    <h3><a href="">News Heading here</a></h3>
                    <div class="post-date">April 30,2021</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nobis!</p><a href=""
                        class="readmore">Read
                        More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-post">
                    <img src="/6.jpg" alt="">
                    <h3><a href="">News Heading here</a></h3>
                    <div class="post-date">April 30,2021</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nobis!</p><a href=""
                        class="readmore">Read
                        More</a>
                </div>
            </div>

        </div>

    </div>
    <div id="footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h4>About Company</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsam porro sunt labore
                            repellendus fugit excepturi amet dicta consequatur fuga.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h4>Latest News</h4>
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h4>Company Address</h4>
                        <address>
                            <b>Sukrabad</b>
                            Dhanmodi,Dhaka
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">copyright@2020 company name.</div>
                <div class="col-md-6">
                    <ul id="social-icons" class="float-md-right">
                        <li><a href="" class="fa fa-facebook-square"></a></li>
                        <li><a href="" class="fa fa-twitter-square"></a></li>
                        <li><a href="" class="fa fa-linkedin-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>